.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

.env

latest.mp4
latest-*.mp4
foo.txt
munge/images-source

log.txt
cams.txt
munge/tmp/
output/tmp/*.png

output/images/*
output/videos/*
