/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800); */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700,500);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Code Pro', sans-serif;
  padding: 0;
  margin: 0;
  background: black;
  overflow: hidden;
}

.gtp-wrapper {
  position:relative;
  width: 100%;
  height: 100%;
}

.gtp-wrapper-half {
  padding: 30px 15px 30px 30px;
  height: 50%;
  position:relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.gtp-wrapper-half {
  padding: 30px 30px 15px 30px;
}

.gtp-wrapper-half:nth-of-type(2) {
  padding-top: 15px;
  padding-bottom: 30px;
}

@media(min-width:1000px){
  .gtp-wrapper-half {
    float: left;
    height: 100%;
    width: 50%;
  }

  .gtp-wrapper-half {
    padding: 30px 15px 30px 30px;
  }

  .gtp-wrapper-half:nth-of-type(2) {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
  }
}

.gtp-wrapper-half__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.gtp-btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40px);
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  opacity: 1;
  transition: opacity 1s;
}

.gtp-btn-play--hidden {
  opacity: 0;
}

.gtp-btn-fullscreen {
  position: absolute;
  right: 20px;
  bottom: 30px;
  transition: opacity 2s linear;
  opacity: 1;
}

@media(min-width:1000px){
  .gtp-btn-fullscreen {
    right: 20px;
    left: auto;
    bottom: 40px;
  }
}

body.is-fullscreen .gtp-btn-fullscreen {
  opacity: 0;
}

.gtp-image-count {
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold;
}

.gtp-scale {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.button,
button {
  font-family: 'Source Code Pro', sans-serif;
  background: transparent;
  border: 3px solid white;
  border-radius: 36px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: all 80ms ease-in-out;
  outline: none;
}

.button:hover,
button:hover {
  background-color: white;
  color: black;
  outline: none;
}

.button--overlay {
  background-color: rgba(255,0,0,0.5);
  font-weight: bold;
}

.gtp-wrapper-half__inner {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gtp-image-still {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(min-width:1000px){
  .gtp-image-still {
    height: auto;
    width: 100%;
    max-height: none;
  }
}

.gtp-info {
  position: absolute;
  top: 10px;
  left: 10px;
}

.gtp-info a:visited, a:focus,
.gtp-info a {
  color: white;
}

.gtp-waiting-msg {
  color: white;
  opacity: 0;
  font-size: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 2s;
  width: 100%;
  z-index: 10;
}

body.is-waiting .gtp-waiting-msg {
  display: block;
  opacity: 1;
}

body.is-waiting .gtp-wrapper-half:nth-of-type(2) .gtp-wrapper-half__inner {
  opacity: 0.25;
}
